*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.label {
  padding: 1rem 2.5rem; }

.label-xs {
  font-size: 1.2rem; }

.label-sm {
  font-size: 1.4rem; }

.label-md {
  font-size: 1.6rem; }

.label-lg {
  font-size: 1.8rem; }

.label-xl {
  font-size: 20rem; }

.App {
  text-align: center;
  color: red; }

.App-logo {
  height: 40vmin;
  pointer-events: none; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; } }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.event-box {
  position: absolute;
  width: 50rem;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #eee;
  padding: 3rem;
  box-shadow: 0 5px 10px #eee; }
  .event-box__title {
    font-size: 3rem; }
    .event-box__title--create {
      border-style: solid;
      border-color: #fff;
      border-width: 5px; }
    .event-box__title--manage {
      border-style: solid;
      border-color: #ff7a44;
      border-width: 5px; }

/*header*/
