//primary colors
$primary-green: #2ecc71;
$primary-asphalt: #34495e;
$primary-turquise: #1abc9c;
$primary-carrot: #e67e22;
$primary-concrete: #95a5a6;

//secondary colors
$secondary-green: #47d583;
$secondary-asphalt: #405a74;
$secondary-turquise: #1edab5;
$secondary-carrot: #e99041;
$secondary-concrete: #a7b5b6;

//tertiary colors
$tertiary-green: #63db96;
$tertiary-asphalt: #4c6b8a;
$tertiary-turquise: #37e3c1;
$tertiary-carrot: #eda25f;
$tertiary-concrete: #a7b5b6;

$white: #fff;
